<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>菜单管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="<?=CUR_TPL_PATH?>src/layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="<?=CUR_TPL_PATH?>src/layuiadmin/style/admin.css" media="all">
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<!--<div class="layui-card-header">管理员权限管理</div>-->
						<div class="layui-card-body">
							<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
								<a onclick="layOpen('添加用户组', '/admin/group/add','500px','500px')" href="javascript:;" class="layui-btn"><i class="layui-icon"></i>添加用户组</a>
							</div>

							<table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>

							<script type="text/html" id="test-table-operate-barDemo">
								<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
								<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
 							</script>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="<?=CUR_TPL_PATH?>src/layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '<?=CUR_TPL_PATH?>src/layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'table'], function() {
				var table = layui.table,
					admin = layui.admin;

				table.render({
					elem: '#test-table-operate',
					url: '/admin/group/getgrouplist',
					cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
					height: 'full-100',
					cols: [
						[{
								field: 'id',
								width: 80,
								title: 'ID',
								sort: true,
								fixed: 'left'
							}, {
								field: 'zuming',
								title: '用户组'
							}, {
								field: 'memberNum',
								width: 200,
								title: '当前用户组成员数',

							}, {
								align: 'center',
								fixed: 'right',
								toolbar: '#test-table-operate-barDemo'
							}

						]
					],
					page: true
				});

				//监听表格复选框选择
				table.on('checkbox(test-table-operate)', function(obj) {
					console.log(obj)
				});
				//监听工具条
				table.on('tool(test-table-operate)', function(obj) {
					var data = obj.data;
					if(obj.event === 'del') {
						layer.confirm('真的删除么', function(index) {
							layer.close(index);
							var id = data.id;
							window.location.href="/admin/group/delete?id="+id;
						});
					} else if(obj.event === 'edit') {
						var id = data.id;
						layOpen("修改用户组权限","/admin/group/edit?id="+id);
						
					}
				});

				 

			});
		</script>

	</body>

</html>