@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?86988532');
  src: url('../font/fontello.eot?86988532#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?86988532') format('woff'),
       url('../font/fontello.ttf?86988532') format('truetype'),
       url('../font/fontello.svg?86988532#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86988532#fontello') format('svg');
  }
}
*/
 
 
[class^="ficon-"]:before, [class*=" ficon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.ficon{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  /*display: inline-block;*/
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.ficon_ghy{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 color: #fff;
  /*display: inline-block;*/
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
/*  font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ficon-chanpinjieshao:before { content: '\e800'; }
.ficon-checked-fill:before { content: '\e801'; } 
.ficon-chilunhover:before { content: '\e802'; }
.ficon-deng:before { content: '\e803'; }
.ficon-cuxiaohuodong:before { content: '\e804'; } 
.ficon-dianhua:before { content: '\e805'; } 
.ficon-dingdan:before { content: '\e806'; }
.ficon-diqiu:before { content: '\e807'; } 
.ficon-duanxin:before { content: '\e808'; } 
.ficon-fenxiao:before { content: '\e809'; } 
.ficon-financial-manage:before { content: '\e80a'; } 
.ficon-fuzhi:before { content: '\e80b'; } 
.ficon-fuzhi-copy:before { content: '\e80c'; } 
.ficon-gengxin:before { content: '\e80d'; } 
.ficon-gouwuche:before { content: '\e80e'; }
.ficon-huifu:before { content: '\e80f'; } 
.ficon-huiyuan:before { content: '\e810'; } 
.ficon-jianli:before { content: '\e811'; } 
.ficon-kecheng:before { content: '\e812'; }
.ficon-kuozhanicon:before { content: '\e813'; } 
.ficon-lanmu:before { content: '\e814'; } 
.ficon-lanmu1:before { content: '\e815'; } 
.ficon-lanmu2:before { content: '\e816'; } 
.ficon-lianxi:before { content: '\e817'; }
.ficon-list:before { content: '\e818'; } 
.ficon-liuchengbutongguo:before { content: '\e819'; } 
.ficon-mima:before { content: '\e81a'; } 
.ficon-o11:before { content: '\e81b'; } 
.ficon-photo:before { content: '\e81c'; } 
.ficon-qiehuan:before { content: '\e81d'; } 
.ficon-fanxuan:before { content: '\e81e'; } 
.ficon-qingkong:before { content: '\e81f'; }
.ficon-queren:before { content: '\e820'; } 
.ficon-renzhengtongguo:before { content: '\e821'; }
.ficon-riqi:before { content: '\e822'; } 
.ficon-shanchu:before { content: '\e823'; } 
.ficon-shangchuan:before { content: '\e824'; } 
.ficon-shangpuzhongxin:before { content: '\e825'; } 
.ficon-shezhi:before { content: '\e826'; } 
.ficon-shop:before { content: '\e827'; }
.ficon-shouji:before { content: '\e828'; }
.ficon-shouye:before { content: '\e829'; }
.ficon-shuaxin:before { content: '\e82a'; }
.ficon-shujufenxi:before { content: '\e82b'; } 
.ficon-shujutanshuju:before { content: '\e82c'; } 
.ficon-shujutongji:before { content: '\e82d'; } 
.ficon-tianjia:before { content: '\e82e'; } 
.ficon-tixian:before { content: '\e82f'; } 
.ficon-tongzhi:before { content: '\e830'; } 
.ficon-tuichu:before { content: '\e831'; } 
.ficon-uploading:before { content: '\e832'; } 
.ficon-user:before { content: '\e833'; }
.ficon-wait:before { content: '\e834'; } 
.ficon-weixin:before { content: '\e835'; } 
.ficon-weixin1:before { content: '\e836'; } 
.ficon-weizhi:before { content: '\e837'; } 
.ficon-wenzhang:before { content: '\e838'; } 
.ficon-withdraw:before { content: '\e839'; }
.ficon-xingbienv:before { content: '\e83a'; } 
.ficon-xingming:before { content: '\e83b'; } 
.ficon-xiugai:before { content: '\e83c'; }
.ficon-yidong:before { content: '\e83d'; } 
.ficon-yonghuming:before { content: '\e83e'; }
.ficon-yonghuzhongxin:before { content: '\e83f'; } 
.ficon-youxi:before { content: '\e840'; }
.ficon-youxiang:before { content: '\e841'; } 
.ficon-youxiang1:before { content: '\e842'; }
.ficon-youxiang2:before { content: '\e843'; } 
.ficon-yuncipancds:before { content: '\e844'; }
.ficon-yunying:before { content: '\e845'; }
.ficon-yzyonghuguanli:before { content: '\e846'; } 
.ficon-zhandianlanmu:before { content: '\e847'; } 
.ficon-zhuangtai:before { content: '\e848'; }
.ficon-zhuanhuan:before { content: '\e849'; } 
.ficon-zoomout:before { content: '\e84a'; } 
.ficon-ananzui:before { content: '\e84b'; } 
.ficon-anquan:before { content: '\e84c'; } 
.ficon-arrow-left:before { content: '\e84d'; } 
.ficon-automatic-configuration:before { content: '\e84e'; } 
.ficon-back:before { content: '\e84f'; } 
.ficon-backup:before { content: '\e850'; } 
.ficon-chakan:before { content: '\e851'; } 
.ficon-changyongxiangmu:before { content: '\e852'; }
.ficon-menu:before { content: '\f0c9'; }
.ficon-iconfont-baidu:before { content: '\e854'; } 
.ficon-iconfont-qq:before { content: '\e855'; } 
.ficon-ok:before { content: '\2713'; }


.ficon-star:before { content: '\2605'; } 
.ficon-star-empty:before { content: '\2606'; } 
.ficon-heart-empty:before { content: '\2661'; } 
.ficon-heart:before { content: '\2665'; } 
.ficon-ok:before { content: '\2713'; } 
.ficon-cancel:before { content: '\2715'; } 
.ficon-down-open:before { content: '\e75c'; } 
.ficon-left-open:before { content: '\e75d'; } 
.ficon-right-open:before { content: '\e75e'; }
.ficon-up-open:before { content: '\e75f'; } 