<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>城市选择器，仿猎聘，支持多选，单选</title>
<link href="zyzn_1.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="City_data.js"></script>
<script type="text/javascript" src="areadata.js"></script>
</head>

<body>
城市多选：<input type="text" class="" value="" data-value=""  onclick="appendCity(this,'duoxuan')" />
城市单选：<input type="text" class="" value="" data-value=""  onclick="appendCity(this,'danxuan')" />

</body>
</html>
